@font-face {
    font-family: 'Space Mono';
    src: url('../font/SpaceMono-Bold.woff2') format('woff2'),
        url('../font/SpaceMono-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Space Mono';
    src: url('../font/SpaceMono-Bold.woff2') format('woff2'),
        url('../font/SpaceMono-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Space Mono';
    src: url('../font/SpaceMono-Regular.woff2') format('woff2'),
        url('../font/SpaceMono-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Space Mono';
    src: url('../font/SpaceMono-Regular.woff2') format('woff2'),
        url('../font/SpaceMono-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

